@import "variables.css";

header {
  display: grid;
}

header .background {
  width: 100%;
  height: 500px;
  max-height: 60vh;
  pointer-events: none;
  border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
}

header .title {
  margin: auto;
  pointer-events: none;
  width: 450px;
  max-width: calc(85%);
}

header .background /*.curve*/ {
  /*fill: var(--primary-color);*/
  background-color: var(--primary-color);
}

header img,
header .background {
  grid-area: 1/1;
}

