@import "variables.css";

nav {
    z-index: 9999999;
    position: fixed;
    width: calc(100% - var(--navbar-elements-gap) * 2);
    max-width: calc(var(--body-max-width) - var(--navbar-elements-gap) * 2);
    height: var(--navbar-height);
    display: grid;
    column-gap: var(--navbar-elements-gap);
    padding: var(--navbar-elements-gap);
    grid-template-columns: 1fr 1fr 1fr;
    
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;

    background-color: var(--primary-color-translucent);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

}

nav a {
    color: royalblue;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms;
    border-radius: 15px;
    
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.272);
}

nav a.dimmed {
    opacity: 70%;
}

nav a.priority {
    font-weight: 600;
}


@media (max-width: 480px) {
    nav a:nth-child(1) {
        display: none;
    }
    
    nav a:nth-child(2) {
        display: none;
    }

    nav {
        display: flex;
    }
}

@media (min-width: 1920px) {
    nav {
        border-radius: 0 0 calc(var(--primary-border-radius) / 2) calc(var(--primary-border-radius) / 2);
    }
}